<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
    <header th:insert="blocks/header :: header"></header>
    <div class="container">
        <h1 th:text="Users"></h1>
        <table class="table table-bordered" id="users-table">
            <tr class="users-table-header" >
                <th scope="col">Name</th>
                <th scope="col">Login</th>
                <th scope="col">Roles</th>
                <th scope="col">Actions</th>
            </tr>
            <tr th:each="el : ${users}">
                <td th:text="${el.name}"></td>
                <td th:text="${el.login}"></td>
                <td>
                    <p th:each="role : ${el.getRolesList()}" th:text="${role.name}" th:class="${role.name}"><p>
                </td>
                <td>
                    <a th:href="'/users/' + ${el.id} + '/edit'" class="btn btn-outline-warning">Edit</a>
                    <a th:href="'/users/' + ${el.id} + '/delete'" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>